@{
    ViewData["Title"] = "Form Sumitted Successfully";
}
<!--This view lets the user know that their film was submitted to the list successfully-->
<div class="text-center">
    <h3 class="display-4">Form submitted sucessfully</h3>
    <br />
    <p>See your list of movies in the <a asp-controller="Home" asp-action="List">Film List</a> page or add another movie in the <a asp-controller="Home" asp-action="Form">New Film Form</a> page.</p>
</div>