@{
    ViewData["Title"] = "My Podcast";
}
<!--This view promotes the podcast that Joel Hilton co-produces-->
<div class="text-center">
    <h3 class="display-4">Be sure to check out my podcast:</h3>
    <h1 class="display-4"><a href="https://baconsale.com/">Baconsale</a></h1>
</div>
